@charset "utf-8";

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul{
list-style: none;
}
a{
text-decoration: none;
}
img{
vertical-align: bottom;
}

/* 共通部分 */
header{
padding: 20px 0;
}
h1{
font-size: 42px;
text-align: center;
font-family: 'Zen Kurenaido', sans-serif;
}
.g-nav{
width: 100%;
height: 50px;
background-color: #7D6C46;
margin-bottom: 100px;
}
.g-nav>ul{
display: flex;
width: 960px;
margin: 0 auto;
}
.g-nav li{
width: 20%;
}
.g-nav a{
display: block;
line-height: 50px;
text-align: center;
color: #FFF;
border-right: 1px solid #FFF;
}
.g-nav li:first-of-type>a{
border-left: 1px solid #FFF;
}
.g-nav a:hover{
background-color: #808080;
}
.g-nav li.current>a{
background-color: #808080;
}

footer{
width: 100%;
height: 100px;
background-color: #7D6C46;
}
footer>p{
text-align: center;
line-height: 100px;
color: #FFF;
}

/* トップページ部分 */
main{
width: 960px;
margin: 0 auto 100px;
}
.main-visual{
margin-bottom: 80px;
}
.main-copy{
text-align: center;
width: 600px;
margin: 0 auto;
}
.main-copy>h2{
margin-bottom: 20px;
}
.main-copy>p{
line-height: 2.5;
}

/* 季節ページ部分 */
.wrapper{
display: flex;
margin-bottom: 100px;
}
.photo{
margin-right: 40px;
}
.txt>h2{
margin-bottom: 10px;
}
.txt>p{
line-height: 1.8;
}

/* 春ページ部分 */
.spring>.g-nav{
background-color: #CB1B45;
}
.spring>footer{
background-color: #CB1B45;
}
/* 夏ページ部分 */
.summer>.g-nav{
background-color: #2E5C6E;
}
.summer>footer{
background-color: #2E5C6E;
}
/* 秋ページ部分 */
.fall>.g-nav{
background-color: #F05E1C;
}
.fall>footer{
background-color: #F05E1C;
}
/* 冬ページ部分 */
.winter>.g-nav{
background-color: #211E55;
}
.winter>footer{
background-color: #211E55;
}
